body {
    background-image: url(https://png.pngtree.com/background/20230426/original/pngtree-salon-service-salon-design-hd-picture-image_2487132.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: gold;
    text-decoration: none;
}
